body {
background: #ffffff;
text-decoration: none;
width: 100%;
height: 100%;
}

body, form, div, p, a, img, ul, h1, h2, h3, h4, h5, h6, table, table tr, table td {
  border: none;
  color: #000000;
  font-family: "RobotoRegular", Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

input,
textarea,
select {
  outline: none; 
  font-family: Arial;
  font-size: 12px;
}

input::-moz-focus-inner { 
  border: 0; 
  padding: 0;
}

a {
  text-decoration: underline;
  outline: none;
}

a:hover {
  text-decoration: none;
}

h1, h2 {
  font-size: 20px;
  padding: 0 0 10px 0;
  color: #545454;
}

*{ 
  box-sizing: border-box;
}

.clear {
  clear: both;
  font-size: 0;
  line-height: 0;
  height: 0; 
}

*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

/**********************************/

body{
	background: url(../images/bf-example1.jpg);
	min-height: 100%;
	min-width: 100%;
}

.wrapper-mainer {
	min-height: 100%;
	margin-bottom: -200px;
}

.wrapper-mainer:after {
  content: "";
  display: block;
}

.site-footer, .wrapper-mainer:after {
  height: 200px; 
}


footer {
	//background: orange;
}

.content-wrapper{
	background: #fff;
	margin: 50px auto;
	box-shadow: 2px 2px 5px #E6E4E4, -2px -2px 5px #E6E4E4;
}

.top-line {
	height: 43px;
	line-height: 43px;
	background: rgba(252, 164, 222, 0.67);
}

.client-panel{
	position: relative;
	float: right;
}

.client-panel:hover ul.menu-top {
	display: block;
}

.client-panel p.client-btn {
	cursor: pointer;
	color: #fff;
	font-size: 14px;
}

.client-panel:hover p.client-btn span{
	border: none;
}

p.client-btn span{
	border-bottom: 1px dashed #fff;
}

ul.menu-top {
	display: none;
    background: #fff;
    line-height: 20px;
    list-style: none;
    color: #fff;
    position: absolute;
    z-index: 100;
    box-shadow: 1px 1px 3px #999, 0px 0px 3px #999;
    width: 100%;
}

ul.menu-top:after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    left: 75%;
    top: -10px;
    border: 5px solid transparent;
	border-bottom: 5px solid #fff;
}

ul.menu-top li {
	padding: 2px 15px;
	color: #000;
	font-size: 16px;
	font-weight: 400;
}

ul.menu-top li a {
	color: #69ADAF;
	text-decoration: none;
}

ul.menu-top li:hover {
	background: #ECECEC;
}


/********************HEADER*****************/

header {
	padding: 20px;
	height: 125px;
/*	background: brown;*/
}

.logo {
/*	background: yellow;*/
	height: 70px;
	color: palevioletred;
	text-decoration: none;
	line-height: 70px;
	text-align: center;
	font-size: 3.1em;
	font-family: 'Bad Script', cursive;
}
/*
menu.main-menu{
	font-size: 10px;
	margin-top: 20px;
	text-align: right;
	overflow: hidden;
	white-space: nowrap;
	display: block;
	list-style: none;
    margin: 0;
	margin-bottom: 25px;
    padding: 0;
	float:right;;
	width: 796px;
}
menu li{
	
	display: inline;
    padding: 7px 0px 7px 20px;
    border-left: 1px solid #E8E5E4;
    margin-left: 19px;
}

menu li:first-child{
	border: none;
	margin-left: 0;
}

menu li:hover a{
	color:hotpink;
}

menu li a{
	    display: inline-block;
    padding: 0px 0px 0px 0px;
    color: #765f59;
    text-decoration: none;
    font-size: 13px;
    line-height: 16px;
    text-transform: capitalize;
	box-sizing: border-box
}
*/

.basket-wrap {
	float: right;
    background: #FEE7D1;
    padding: 4px 0px 0 15px;
    height: 32px;
}

.basket-wrap b{
	color: #E98B73;
    font-size: 22px;
    padding-top: 0px;
    padding-right: 0px;
    line-height: 27px;
    text-transform: uppercase;
    text-align: left;
    display: inline-block;
    font-weight: normal;
    font-family: 'Times New Roman', serif;
    margin-right: 7px;
    float: left;
    margin-top: -4px;
}

.basket-wrap{
	
    text-decoration: none;
    padding-bottom: 16px;
/*    text-align: right;*/
    display: inline-block;
    padding-top: 5px;
}

.basket-wrap a{
	text-decoration: none;
	line-height: 20px;
}

.info-but {
	display: inline-block;
    width: 7px;
    height: 4px;
    float: right;
    padding: 0 0 0px 0px;
    margin: 8px 0 0 7px;
}


.search {
    width: 178px;
    border: none;
    font-size: 12px;
    color: #000;
    height: 28px;
    padding: 0;
    margin: 0;
    outline: none;
    line-height: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

.search-wrap {
	display: inline-block;
	border-radius: 20px 0 0 20px;
	padding: 0 0 0 12px;
	float: left;
    background: #fff;
    border: 2px solid pink;
    border-right: none;
	height: 32px;
	width: 210px;
}

.go-search {
	width: 31px;
	height: 32px;
/*	display: block;*/
	background:url(../img/search.png) -1px -1px pink;
	display: block;
	float: left;
	box-sizing: border-box;
/*	border: 1px solid #DE7D66;*/
	border: none;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
/*	box-shadow: -4px 7px 17px -3px brown;*/
}
.go-search:hover{
	background:url(../img/search.png) -1px -1px hotpink;
	box-shadow: -3px 7px 17px -3px brown;
}
.search-form {
	padding: 0px;
}

.img-face-box {
	padding: 23px;
	height: 383px;
}


.extra-img {
	margin-bottom:10px ;
/*	width: 367px;*/
}




.new p.newsale {
	line-height: 43px;
	padding: 0 20px;
	color: #fff;
	font-size: 17px;
}

/*******************************************/
ul.menu-cat {
	list-style: none;
	height: 43px;
	background: url(../img/menu2-bg.png);
	position: relative;
	display: block;
	text-align: right;
}

ul.menu-cat li {
	display: inline-block;
}

ul.menu-cat li a {
	display: block;
	line-height: 43px;
	color: #fff;
	font-size: 17px;
	padding: 0 20px;
	text-decoration: none;
}

ul.menu-cat li a:hover {
	background: #C983B1;
}

/******/
.caroosel {
	//height: 50px;
	padding: 30px;
}
/*****/

.new {
	height: 43px;
	background: url(../img/new.png);
	width: 295px;
	position: absolute;
	right: -19px;
}

.new p.newsale {
	line-height: 43px;
	padding: 0 20px;
	color: #fff;
	font-size: 17px;
	width: 295px;
}

/*product*/
.main-products {
	padding: 20px;
	text-align: justify;
}

.main-products:after {
	content: 'i i i i i i';
	display: inline;
	word-spacing: 247px;
    padding-left: 247px;
    visibility: hidden;
}

.product {
	width: 250px;
	border: 1px solid #E6E4E4;
	box-shadow: 2px 2px 2px #E6E4E4;
	padding: 10px;
	margin: 0 0 20px;
	display: inline-block;
	height: 340px;
	vertical-align: top;
}

.product-pic {
	height: 230px;
	overflow: hidden;
	position: relative;
}

.product-pic img {
	max-width: 100%;
	position: relative;
}
.product-pic:hover img{
	-webkit-filter:  brightness(.8);
	filter: saturate(3.2);
	-webkit-transition: all .5s ease-in;
	transition: all .3s ease-in;
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}
.product-pic:before{
	content: "Подробнее";
	font-size: 12px;
	color: #030303;
	height: 132px;
	width: 132px;
	box-sizing: border-box;
/*	background-origin: 50% 50%;*/
	text-align: center;
	padding-top: 95px;
	position: absolute;
	top: 50px;
	left: 46px;
	background: rgba(103, 208, 212, 0.26);
	z-index: 10;
	border-radius: 50%;
	-webkit-transform-origin:50% 50%;
	-ms-transform-origin:50% 50%;
	transform-origin:50% 50%;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	border: 3px solid transparent;
	-webkit-transition: all .4s ease-out;
	transition: all .4s ease-out;
}
.product-pic:after{
	content: "";
	position: absolute;
	height: 89px;
	width: 89px;
	left: 30%;
	top:29%;
	z-index: 20;
	background:url(../img/search1.png) no-repeat 18px 18px / 53px rgba(255, 255, 255, 0.72);
	border-radius: 50%;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transform: rotateY(90deg);
	transform: rotateY(90deg);
	-webkit-perspective: 900px;
	perspective: 900px;
	-webkit-transition: all .4s ease-in .1s;
	transition: all .4s ease-in .1s;
}

.product-pic:hover:before{
	height: 131px;
	width: 131px;
	
	-webkit-transform: scale(2.3);
	
	-ms-transform: scale(2.3);
	
	transform: scale(2.3);
	border: 2px solid pink;
}
.product-pic:hover:after{
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
}

.product-name {
	text-align: center;
	padding: 10px;
}

.product-name a {
	text-decoration: none;
	color: #AF6195;
	font-size: 16px;
}

.product-name a:hover {
	text-decoration: underline;
}

.tocart,
.price {
	width: 50%;
	float: left;
	padding: 5px;
}

.tocart a {
	display: block;
	width: 100%;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	text-shadow: 1px 1px 1px #808080;
	height: 35px;
	line-height: 32px;
	text-align: center;
	background: #6fc5c9;
	border-bottom: 5px solid #61acaf;
}

.tocart a:hover {
	opacity: .8;
}

.price span {
	display: block;
	height: 35px;
	font: 16px/35px "RobotoRegular", arial, sans-serif;
	padding: 0 20px;
	white-space: nowrap;
	font-weight: bold;
	color: #539395;
}

/*************** footer ****************/
.footer-copy {
	background: #e292c7;

}

.footer-copy p {
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	color: #fff;	
    text-shadow: 1px 1px 1px #AF6195;
}

.footer-info {
	background: #FCA4DE;
	height: 150px;	
}

.footer-info p {
	font-size: 14px;
	color: #fff;
	padding: 20px 0;
	text-align: justify;
	text-shadow: 1px 1px 1px #AF6195;
}
.list-category {
	list-style: none;
	padding: 0;
	margin: 0;
	margin-left: 20px
}
.list-category .submenu{
	list-style: none;
	width: 207px;
	margin: 0;
	padding: 0;

}
.list-category .submenu>li{
/*	height: 30px;*/
/*	margin-bottom: 5px;*/
}
.list-category .submenu a{
	height: 30px;
	line-height: 30px;
	box-sizing: border-box;
	text-align: center;
	color: white;
	display: block;
	background: pink;
	text-decoration: none;
	font-size: 1.2em;
	border-radius: 10px;
	opacity: 0;
	box-shadow: 5px 1px 10px silver;
	-webkit-transition: height 0.4s ease-in .3s, opacity 1s ease-out;
	transition: height 0.4s ease-in .3s, opacity 1s ease-out
}
.list-category .submenu>li>a{
/*	display: none;*/
	height: 0px;
}

.list-category>li:hover .submenu>li:nth-child(1) a{
	-webkit-transition: all 0.4s ease-in;
	transition: height 0.4s ease-in .1s, opacity 1s ease-out;
	height:40px;
	opacity:1;
	margin-bottom: 5px;
/*	display:block;*/
}
.list-category>li:hover .submenu>li:nth-child(2) a{
	-webkit-transition: all 0.4s ease-in 2s; 
	transition: height 0.4s ease-in .3s,opacity 1s ease-out .3s;
	height:40px;
	opacity:1;
	margin-bottom: 5px;
/*	display:block;*/
}
.list-category>li:hover .submenu>li:nth-child(3) a{
	-webkit-transition: all 0.4s ease-in .5s;
	transition: height 0.4s ease-in .6s,opacity 1s ease-out .5s ;
	height: 40px;
	opacity:1;
	margin-bottom: 5px;
/*	display:block;*/
}
.list-category .submenu>li>a:hover{
	background: hotpink;
	-webkit-transition: all .3s ease 0s !important;
	transition: all .3s ease 0s !important;
}
.list-category>li>a{
	display: block;
	height: 50px;
	width: 220px;
	line-height: 50px;
	text-decoration: none;
	padding-left: 20px;
	box-sizing: border-box;
	margin-bottom: 13px;
	background: #6FC5C9;
	border-radius: 0 1px 23px 0;
	font-size: 1.3em;
	color: white;
	font-weight: 600;
	-webkit-transition: all .5s;
	transition: all .5s;
/*	box-shadow: 6px 7px 42px 3px hotpink;*/
}
.list-category>li>a:before{
	content: "";
	height: 50px;
	width: 36px;
	box-sizing: border-box;
	border-right: 3px solid #FFf;
	position: absolute;
	left: -1px;
/*	top: 10px;*/
	background: hotpink;
	
	border-radius: 5px 0 0px 5px;
}
.list-category>li>a:hover{
	background: hotpink;
	color: white;
/*	width: 250px;*/
/*	color: #FFD22A;*/
	box-shadow: 5px 6px 22px 1px silver;
}
.list-category>li>a:hover  .list-category>li>a:before{
	background: red;
	width: 16px;
}

.filter-price {
	font-size: 1.3em;
	font-weight: bold;
}

.slider-price {
	margin-top: 15px;
	width: 220px;
}

.pick-size-list {
	list-style: none;
	padding: 0;
	margin:0;
}
.pick-size-list label{
	margin: 0 15px;
	height: 30px;
	line-height: 30px;
display: block;
cursor: pointer;
position: relative;
padding: 0 10px 0 25px;
border-bottom: 1px solid #ddebfd;
/*	position: relative*/
}
.pick-size-list label:before{
	content: "";
height: 14px;
width: 14px;
top: 65%;
left: 0;
margin-top: -10px;
position: absolute;
border-width: 3px;
border-style: solid;
 border-radius:50%;
}
.pick-size-list label:after {
content: "";
top: 50%;
left: 4px;
margin-top: -3px;
position: absolute;
border-width: 3px;
border-style: solid;
opacity:0;
border-radius:50%;
-webkit-transition:all .2s linear;
transition:all .2s linear;
}
input[type="radio"] {
display: none;
}
input[type="radio"]:checked + label:after {
opacity:1;
}
.pick-size-list li:nth-child(1) label:before,
.pick-size-list li:nth-child(1) label:after {
border-color: #5db6e2;
}
.pick-size-list li:nth-child(2) label:before,
.pick-size-list li:nth-child(2) label:after {
border-color: #c0a2f1;
}
.pick-size-list li:nth-child(3) label:before,
.pick-size-list li:nth-child(3) label:after {
border-color: #f7a238;
}

.pick-size-box {
	margin-top: 10px;
}

.choose-size {
	font-size: 1.3em;
	color: hotpink;
}

.size-but {
	border: none;
	height: 30px;
	width: 90px;
	font-size: 1.4em;
	color: azure;
	background: #22afb5;
	margin-top: 10px;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
}
.size-but:hover{
	opacity: .9;
	box-shadow: 6px 10px 50px -4px #898989;
}

.product-info {
/*	background: azure;*/
	border:2px solid #eee;
	height: 1000px;
	margin-top: 20px;
	padding: 20px;
}

.product-img-link {
	
	height: 321px;
	display: block;
	border: 10px solid #eee;
	box-sizing: border-box;
	padding: 0;
}
.product-img-link img{
	width: 290px;
	height: 300px;
}

.item-name {
	font-size: 2em;
/*	font-weight:bold;*/
	padding-bottom:15px;
	border-bottom: 1px solid #eee;
	text-transform: uppercase;
}

.description-item-text {
	color: #A6A4A4;
    font-weight: bold;
	font-size:1.2em;
	margin-top: 28px;
}

.presence-item {
	font-size: 1.1em;
	font-weight: bold;
}


.presence-box {
	height: 50px;
	line-height: 40px;
	margin: 0 0 20px;
}

.price-item-box {
	background: #F7F7F7;
    padding: 12px 5px 10px 18px;
    font-size: 22px;
    color: #765F59;
    margin-bottom: 5px;
}

.payment {
	margin-top: 30px;
	height: 28px;
}
.payment label{
	font-weight: bold;
	margin-right: 5px;
}
#count-item{
	width: 40px;
}
.payment .buy-item-but{
	font-size: 18px;
    color: #ffffff;
    font-weight: normal;
    text-decoration: none;
    padding: 6px 10px 6px 10px;
    line-height: 22px;
    margin-top: 0px;
/*    float: left;*/
    margin-left: 20px;
	background: pink;
	-webkit-transition: all .4s;
	transition: all .4s;
}
.payment .buy-item-but:hover{
	background: hotpink;
	box-shadow: 4px 5px 30px -1px pink;
}

.col-md-5 {
	
}

.top-orange-line {
	height: 43px;
	width: 1210px;
	margin-left: -35px;
	background: url(../img/menu2-bg.png);
	position: relative;
	display: block;
}
.top-orange-line:before{
	    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    top: 100%;
    border: 10px solid transparent;
    border-top: 10px solid #fea8df;
    border-right: 10px solid #fea8df;
}
.top-orange-line:after{
	    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    right: 0;
    top: 100%;
    border: 10px solid transparent;
    border-top: 10px solid #fea8df;
    border-left: 10px solid #fea8df;
}


.main-menu {
	height: 42px;
	padding: 0 6px;
}
.main-menu a{
	
	height: 42px;
	line-height: 42px;
	padding: 8px 15px;
	font-size: 1.4em;
	color: white;
	text-decoration: none;
	box-sizing: border-box;
	border-bottom: 4px solid transparent;
	-webkit-transition: all .4s ease-out;
	transition: all .4s ease-out
}
.main-menu a:hover{
	border-bottom: 4px solid #6FC5C9;
	background: rgba(195, 58, 121, 0.49);
	text-align: center;
}

.reviews-box {
	clear: both;
	padding: 20px 0 0 15px;
	box-sizing: border-box;
}
.reviews-box input[type="submit"]{
	background:#6FC5C9;
	border: none;
	padding: 10px;
	border-radius: 10px;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
}
.reviews-box input[type="reset"]{
	background: #6FC5C9;
	border: none;
	padding: 10px;
	border-radius: 10px;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	margin-left: 5px;
}
.reviews-box input:hover{
	-webkit-transition: all .4s;
	transition: all .4s;
	background: hotpink;
}

.reviews-area {
	height: 80px;
	width: 100%;
	border-radius:20px;
	border: 2px solid #6FC5C9;
	-webkit-transition: all .6s;
	transition: all .6s;
	padding: 15px;
	margin-bottom: 5px;
}
.reviews-area:focus {
	border-color: hotpink;
	height: 150px;
}

.comment-user {
	margin-top: 20px; 
}

.info-and-comment {
	margin-top: 20px;
}

.comment-field {
	border-top:1px solid silver;
	margin-top: 10px;
	padding: 10px 0;
	font-size: 1.2em;
}

.name {
	color: hotpink;
	font-weight: bold;
}

.date {
	margin-left: 15px;
	font-style: italic;
	color: #6FC5C9;
}

.stick-label {
	height: 40px;
	position: relative;
	margin-bottom: 15px
}

.icon-basket {
	height: 20px;
	width: 20px;
	margin-top: 3px;
	background: url(../img/basket-icon.png) 0 0 / 20px 20px;;
	float: left;
}

.phone-box {
	height: 43px;
	float: left;
	width: 557px;
	line-height: 43px;
	background: white;
	border-radius: 20px;
	text-align: center;
	margin-left: -19px;
	box-shadow: inset 0px 0px 19px -1px pink;
}
.phone-box>span{
	height: 20px;
/*	vertical-align: text-top;*/
	position: relative;
	font-size: 18px;
	padding-left: 25px;
	border-radius: 5px;
/*	box-shadow: inset 0px 0px 16px -1px silver;*/
}
.phone-box>span:nth-of-type(1){
	background: url(../img/sprite-phone.png) no-repeat 1px 3px white; 
}
.phone-box>span:nth-of-type(2){
	background: url(../img/sprite-phone.png) no-repeat 1px -22px white;
}
.phone-box>span:nth-of-type(3){
	background: url(../img/sprite-phone.png) no-repeat 1px -46px white;
}