body {
background: #ffffff;
text-decoration: none;
width: 100%;
height: 100%;
}

body, form, div, p, a, img, ul, h1, h2, h3, h4, h5, h6, table, table tr, table td {
  border: none;
  color: #000000;
  font-family: "RobotoRegular", Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

input,
textarea,
select {
  outline: none; 
  font-family: Arial;
  font-size: 12px;
}

input::-moz-focus-inner { 
  border: 0; 
  padding: 0;
}

a {
  text-decoration: underline;
  outline: none;
}

a:hover {
  text-decoration: none;
}

h1, h2 {
  font-size: 20px;
  padding: 0 0 10px 0;
  color: #545454;
}

*{ 
  box-sizing: border-box;
}

.clear {
  clear: both;
  font-size: 0;
  line-height: 0;
  height: 0; 
}

*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

/**********************************/

body{
	background: url(../img/main-bg.gif);
	min-height: 100%;
	min-width: 100%;
}

.main-wrapper{
	background: #fff;
	margin: 50px auto;
	box-shadow: 2px 2px 5px #E6E4E4, -2px -2px 5px #E6E4E4;
}

.top-line {
	height: 43px;
	line-height: 43px;
	//background: #FCA4DE;
	//background: #F9A790;
	background: rgba(252, 164, 222, 0.67);
}

.client-panel{
	position: relative;
	float: right;
}

.client-panel:hover ul.menu-top {
	display: block;
}

.client-panel p.client-btn {
	cursor: pointer;
	color: #fff;
	font-size: 14px;
}

.client-panel:hover p.client-btn span{
	border: none;
}

p.client-btn span{
	border-bottom: 1px dashed #fff;
}

ul.menu-top {
	display: none;
    background: #fff;
    line-height: 20px;
    list-style: none;
    color: #fff;
    position: absolute;
    z-index: 100;
    box-shadow: 1px 1px 3px #999, 0px 0px 3px #999;
    width: 100%;
}

ul.menu-top:after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    left: 75%;
    top: -10px;
    border: 5px solid transparent;
	border-bottom: 5px solid #fff;
}

ul.menu-top li {
	padding: 2px 15px;
	color: #000;
	font-size: 16px;
	font-weight: 400;
}

ul.menu-top li a {
	color: #69ADAF;
	text-decoration: none;
}

ul.menu-top li:hover {
	background: #ECECEC;
}


/********/
.test-block{
	height: 100px;
}
/********/
ul.menu-cat {
	list-style: none;
	height: 43px;
	background: url(../img/menu2-bg.png);
	position: relative;
}

ul.menu-cat li {
	display: inline-block;
}

ul.menu-cat li a {
	display: block;
	line-height: 43px;
	color: #fff;
	font-size: 17px;
	padding: 0 20px;
	text-decoration: none;
}

ul.menu-cat li a:hover {
	background: #C983B1;
}


.caroosel {
	height: 50px;
}


header {
	padding: 20px;
	height: 125px;
/*	background: brown;*/
}

.logo {
/*	background: yellow;*/
	height: 70px;
	color: palevioletred;
	text-decoration: none;
	line-height: 70px;
	text-align: center;
	font-size: 3.1em
}
menu{
	font-size: 10px;
	margin-top: 20px;
	text-align: right;
	overflow: hidden;
	white-space: nowrap;
	display: block;
	list-style: none;
    margin: 0;
	margin-bottom: 15px;
    padding: 0;
}
menu li{
	
	display: inline;
    padding: 7px 0px 7px 20px;
    border-left: 1px solid #E8E5E4;
    margin-left: 19px;
}
menu li:first-child{
	border: none;
	margin-left: 0;
}
menu li:hover a{
	color:hotpink;
	font-weight: 900;
/*	text-shadow: 1px 1px 85px red;*/
}
menu li a{
	    display: inline-block;
    padding: 0px 0px 0px 0px;
    color: #765f59;
    text-decoration: none;
    font-size: 13px;
    line-height: 16px;
    text-transform: capitalize;
	box-sizing: border-box
}
.basket-wrap {
	float: right;
    background: #FEE7D1;
    padding: 4px 16px 0 17px;
    height: 32px;
}
.basket-wrap b{
	color: #E98B73;
    font-size: 22px;
    padding-top: 0px;
    padding-right: 0px;
    line-height: 27px;
    text-transform: uppercase;
    text-align: left;
    display: inline-block;
    font-weight: normal;
    font-family: 'Times New Roman', serif;
    margin-right: 19px;
    float: left;
    margin-top: -4px;
}
.basket-wrap{
	
    text-decoration: none;
    padding-bottom: 16px;
/*    text-align: right;*/
    display: inline-block;
    padding-top: 5px;
}
.basket-wrap a{
	text-decoration: none;
	line-height: 20px;
}

.info-but {
	    display: inline-block;
    width: 7px;
    height: 4px;

    float: right;
    padding: 0 0 0px 0px;
    margin: 8px 0 0 27px;
}


.search {
	background: url(trans.png);
    padding: 7px 10px 8px 10px;
    width: 200px;
    border: none;
    font-size: 12px;
    color: #000;
    height: 18px;
    margin: 0;
    outline: none;
    line-height: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.search-wrap {
	display: inline-block;
    background: #fff;
    border: 1px solid #DE7D66;
    border-right: none;
	height: 32px;
	line-height: 31px;
/*    float: right;*/
}

.img-face-box {
	padding: 23px;
	height: 383px;
}


.extra-img {
	margin-bottom:10px ;
/*	width: 367px;*/
}


.new {
	height: 43px;
	background: url(../img/new.png);
	width: 200px;
	position: relative;
}

.new p.newsale {
	line-height: 43px;
	padding: 0 20px;
	color: #fff;
	font-size: 17px;
}

/*product*/
.main-products {
	padding: 20px;
	text-align: justify;
}

.main-products:after {
	content: ' i i i i i i ';
	display: inline;
	word-spacing: 247px;
    padding-left: 247px;
    visibility: hidden;
}

.product {
	width: 250px;
	border: 1px solid #E6E4E4;
	box-shadow: 2px 2px 2px #E6E4E4;
	padding: 10px;
	margin: 0 0 20px;
	display: inline-block;
	height: 340px;
	vertical-align: top;
}

.product-pic {
	height: 230px;
	overflow: hidden;
}

.product-pic img {
	max-width: 100%;
}

.product-name {
	text-align: center;
	padding: 10px;
}

.product-name a {
	text-decoration: none;
	color: #AF6195;
	font-size: 16px;
}

.product-name a:hover {
	text-decoration: underline;
}

.tocart,
.price {
	width: 50%;
	float: left;
	padding: 5px;
}

.tocart a {
	display: block;
	width: 100%;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	text-shadow: 1px 1px 1px #808080;
	height: 35px;
	line-height: 32px;
	text-align: center;
	background: #6fc5c9;
	border-bottom: 5px solid #61acaf;
}

.tocart a:hover {
	opacity: .8;
}

.price span {
	display: block;
	height: 35px;
	font: 16px/35px "RobotoRegular", arial, sans-serif;
	padding: 0 20px;
	white-space: nowrap;
	font-weight: bold;
	color: #539395;
}







/* .tocart a {
	height: 40px;
	display: block;
	width: 100%;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	//font-weight: bold;
	text-shadow: 1px 1px 1px #FEA8DF;
	line-height: 40px;
	text-align: center;
	background: #FDC1E7;
	border-bottom: 5px solid #FEA8DF;
} */

